<div class="page-inner">
    <div class="table-action">
        <button type="button" ng-click="createItem()" class="btn btn-primary">
            <i class="icon-aw-add-to2"></i>{{"cn.pathstage.btn.create"|translate}}
        </button>
        <button type="button" ng-disabled="!canEdit" ng-click="createItem('edit')" class="btn btn-info">
            <i class="icon-aw-modify"></i>{{"cn.action.edit"|translate}}
        </button>
        <button type="button" ng-disabled="!canDel" ng-click="deleteItem(checkedItems)" class="btn btn-info">
            <i class="icon-aw-delete"></i>{{"cn.action.del"|translate}}
        </button>
        <button type="button" ng-disabled="!canEdit" ng-click="assignCourse()" class="btn btn-info">
            <i class="icon-aw-zc"></i>{{"cn.pathstage.btn.assignCourse"|translate}}
        </button>
        <div class="pull-right">
            <div class="status-list train-status-list">
                <ui-select ng-model="path.selected" ng-change="changePath(path.selected)">
                    <ui-select-match placeholder='{{"cn.pathstage.placeholder.path"|translate}}' title="{{$select.selected.pathName}}">
                        {{$select.selected.pathName}}
                    </ui-select-match>
                    <ui-select-choices repeat="status in pathList">
                        <div ng-bind-html="status.pathName | highlight: $select.search" title="{{status.pathName}}"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="search-box">
                <form name="searchForm" novalidate ng-keyup="applyGlobalSearch()">
                    <button class="btn" type="submit" ng-disabled="searchForm.$invalid">
                        <i class="icon-aw-search"></i>
                    </button>
                    <input type="text" class="form-control" autocomplete="off" maxlength="128" name="searchTerm" ng-model="globalSearchTerm" />
                </form>
            </div>
            <button class="btn btn-renovat btn-search" ng-click="refresh()">
                <i class="icon-aw-refresh"></i>
            </button>
        </div>
    </div>
    <div class="table-content">
        <table ng-table="tableParams" class="table" template-pagination="/public/tmpl/ngtablepagination.html">
            <colgroup>
                <col width="4%">
                <col width="24%">
                <col width="24%">
                <col width="24%">
                <col width="24%">
            </colgroup>
            <tr ng-repeat="item in $data">
                <td header="'headerCheckbox.html'">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="checkboxes.items[item.id]" />
                        <i class="iconfont"></i>
                    </label>
                </td>
                <td data-title="dataTitles.name" sortable="'stageName'">{{item.stageName}}</td>
                <td data-title="dataTitles.pathname" sortable="'pathName'">{{item.pathName}}</td>
                <td data-title="dataTitles.sort" sortable="'stageOrder'">{{item.stageOrder}}</td>
                <td data-title="dataTitles.createTime" sortable="'createTime'"><span class="word-break">{{item.createTime}}</span></td>
            </tr>
            <tr ng-if="$data.length==0">
                <td colspan="5">
                    <loading-data data="$data"></loading-data>
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/ng-template" id="headerCheckbox.html">
    <label class="checkbox">
        <input type="checkbox" ng-model="checkboxes.checked" class="select-all" value="" />
        <i class="iconfont"></i>
    </label>
</script>
<script type="text/ng-template" id="headerCheckboxLeft.html">
    <label class="checkbox">
        <span class="left">
            <input type="checkbox" ng-model="leftCheckboxes.checked" class="select-all" value="" />
            <i class="iconfont"></i>
        </span>
        <span class="text">{{dataTitles.courseName}}</span>
    </label>
</script>
<script type="text/ng-template" id="headerCheckboxRight.html">
    <label class="checkbox">
        <span class="left">
            <input type="checkbox" ng-model="rightCheckboxes.checked" class="select-all" value="" />
            <i class="iconfont"></i>
        </span>
        <span class="text">{{dataTitles.courseName}}</span>
    </label>
</script>
<script type="text/ng-template" id="pathstageCreate.html">
    <div class="modal-common">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()">×</button>
            <h3 class="modal-title  clearfix">{{TITLE}}</h3>
        </div>
        <div class="modal-body">
            <form name="createForm" novalidate>
                <div class="control-group">
                    <label class="control-label">
                        <span class="red">*</span>{{'cn.pathstage.dataTitles.pathname'|translate}}：
                    </label>
                    <div class="controls">
                        <ui-select ng-model="pathname.selected" ng-change="changePath(pathname.selected)" ng-disabled="isEdit" name="pathname" required>
                            <ui-select-match placeholder='{{"cn.pathstage.placeholder.pathname"|translate}}' title="{{$select.selected.pathName}}">
                                {{$select.selected.pathName}}
                            </ui-select-match>
                            <ui-select-choices repeat="path in pathList">
                                <div ng-bind-html="path.pathName | highlight: $select.search" title="{{path.pathName}}"></div>
                            </ui-select-choices>
                        </ui-select>
                        <div class="error" ng-messages="(FormValid ||createForm.pathname.$dirty) && createForm.pathname.$error">
                            <span class="error" ng-message="required">{{'cn.errors.required'|translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        <span class="red">*</span>{{'cn.pathstage.model.sort'|translate}}：
                    </label>
                    <div class="controls">
                        <input class="form-controls" name="stageorder" ng-change="changeName('Order',create.stageOrder)" ng-disabled="isEdit" ng-model="create.stageOrder" ng-pattern="/(^[1-9]$)|(^10$)/" placeholder="{{'cn.pathstage.placeholder.sort'|translate}}" required/>
                        <div class="error" ng-messages="(FormValid ||createForm.stageorder.$dirty) && createForm.stageorder.$error">
                            <span class="error" ng-message="pattern">{{'cn.errors.limit_1_10'|translate}}</span>
                            <span class="error" ng-message="required">{{'cn.errors.required'|translate}}</span>
                        </div>
                        <div class="error" ng-if="hadSameOrder">
                            <span class="error">{{'cn.pathstage.checkInfo.sameOrder'|translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        <span class="red">*</span>{{'cn.pathstage.dataTitles.name'|translate}}：
                    </label>
                    <div class="controls">
                        <input class="form-controls" name="name" ng-change="changeName('Name',create.stageName)" ng-model="create.stageName" namereg placeholder="{{'cn.pathstage.placeholder.name'|translate}}" ng-maxlength="30" required/>
                        <div class="error" ng-messages="(FormValid ||createForm.name.$dirty) && createForm.name.$error">
                            <form-validate maxlength="30"></form-validate>
                        </div>
                        <div class="error" ng-if="hadSameName">
                            <span class="error">{{'cn.pathstage.checkInfo.sameName'|translate}}</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-disabled="!canClick" ng-click="confirmCreate(createForm)">{{'cn.action.ok'|translate}}</button>
            <button type="button" class="btn btn-default" ng-click="$dismiss()">{{'cn.action.cancel'|translate}}</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="courseManage.html">
    <div class="modal-common">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()">×</button>
            <h3 class="modal-title  clearfix">{{'cn.pathstage.btn.assignCourse'|translate}}</h3>
        </div>
        <div class="modal-body">
            <form name="createForm" novalidate>
                <div class="change-layout clearfix">
                    <div class="left-col">
                        <span>{{'cn.pathstage.model.nouse'|translate}}</span>
                        <div class="search-box">
                            <button class="btn" ng-disabled="leftsearchForm.$invalid">
                                <i class="icon-aw-search"></i>
                            </button>
                            <input type="text" class="form-control" ng-keyup="leftGlobalSearch()" autocomplete="off" maxlength="128" name="searchTerm" ng-model="leftSearchTerm" />
                        </div>
                        <div class="inner">
                            <table ng-table="tableLeft" class="table">
                                <tr ng-repeat="item in $data" ng-class="{'active':leftCheckboxes.items[item.id]}">
                                    <td header="'headerCheckboxLeft.html'">
                                        <label class="checkbox">
                                            <span class="left">
                                           <input type="checkbox" ng-model="leftCheckboxes.items[item.id]" />
                                            <i class="iconfont"></i> 
                                        </span>
                                            <span class="text">{{item.courseName}}</span>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="middle-col">
                        <button class="btn btn-normal" ng-disabled="!canAddStudent" ng-click="addStudent(leftCheckedItems)">{{'cn.pathstage.btn.add'|translate}}</button>
                        <button class="btn btn-normal" ng-disabled="!canRemoveStudent" ng-click="removeStudent(rightCheckedItems)">{{'cn.pathstage.btn.remove'|translate}}</button>
                    </div>
                    <div class="right-col">
                        <span>{{'cn.pathstage.model.inuse'|translate}}</span>
                        <div class="search-box">
                            <button class="btn" ng-disabled="rightsearchForm.$invalid">
                                <i class="icon-aw-search"></i>
                            </button>
                            <input type="text" class="form-control" ng-keyup="rightGlobalSearch()" autocomplete="off" maxlength="128" name="rightsearchTerm" ng-model="rightSearchTerm" />
                        </div>
                        <div class="inner">
                            <table ng-table="tableRight" class="table">
                                <tr ng-repeat="item in $data" ng-class="{'active':rightCheckboxes.items[item.id]}">
                                    <td header="'headerCheckboxRight.html'">
                                        <label class="checkbox">
                                            <span class="left">
                                           <input type="checkbox" ng-model="rightCheckboxes.items[item.id]" />
                                            <i class="iconfont"></i> 
                                        </span>
                                            <span class="text">{{item.courseName}}</span>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-disabled="!canClick" ng-click="confirmCreate(createForm)">{{'cn.action.ok'|translate}}</button>
            <button type="button" class="btn btn-default" ng-click="$dismiss()">{{'cn.action.cancel'|translate}}</button>
        </div>
    </div>
</script>
